<!DOCTYPE html>
<html lang="en">
<head>
       
     {{>headerlinks}}

</head>
<body>
         {{>header}}
<div class="cards">
          <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">HIGEST PAID MEMBERSHIP</h5>
    <p class="card-text">here you will get most expensive watches million dollar watches collection. </p>
    <a href="#" class="btn btn-primary">Click Here</a>
  </div>
</div>

<div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">MIDDIUM TYPE OF WATCHES COLLECTION MEMBERSHIP</h5>
    <p class="card-text">Here you will get not that expensive watches but considered in best watches collection.  </p>
    <a href="#" class="btn btn-primary">Click Here</a>
  </div>
</div>

<div class="card text-end" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">LOWER THAN MIDDIUM WATCHES COLLECTION</h5>
    <p class="card-text">Here you will get affordable watches and can be considered in watches collection.</p>
    <a href="#" class="btn btn-primary">Click Here</a>
  </div>
</div>
</div>

 

</body>
</html>